<div class="form-container">
  <div class="form-inner">
      <h2>Uređivanje osnovnih informacija profila</h2>

        <div class="user-edit-profile">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>



            <%= f.input :email, autofocus: true, placeholder: 'Email. Ostavite prazno ako ga ne želite mijenjati', label: false %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>


            <%= f.input :password, placeholder: 'Novi Password. Ostavite prazno ako ga ne želite mijenjati', label: false %>

            <%= f.input :password_confirmation, placeholder: 'Potvrda novog passworda', label:false %>


            <%= f.input :current_password, placeholder: 'Ovdje unesite stari password da potvrdite promjene profila', label:false %></i><br />

            <%= f.submit "Spremi promjene", class: "btn btn-green" %>
        <% end %>
        </div>

        <h4>Izbriši profil</h4>

        <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

        <%= link_to "Back", :back %>
  </div>
</div>
