<%= render 'layouts/header' %>

<div class="content-container">
	<div class="units-container">
	
		<p class="notice"><%= notice %></p
		<p class="alert"><%= alert %></p>

		<div class="units-row">
			<div class="unit-70">
				<%= yield %>
			</div>

			<div class="unit-30 add-button-container">

				<% if user_signed_in? %>
					<%= link_to 'Dodaj Sjećanje', new_status_path, :class => "btn btn-green" %>
				<% else %>
					<%= link_to 'Dodaj Sjećanje', new_user_registration_path, :class => "btn btn-green" %>
				<% end %>
			</div>
		</div>
	</div>
</div>


<%= render 'layouts/footer' %>
